{{ define "title" }}
  projects - @ttpcodes
{{ end }}
{{ define "content" }}
  {{ .Content }}
  <h2>professional</h2>
  <p>projects i've worked on with other organizations.</p>
  {{ where .Pages "Params.type" "professional" | partial "projects.html" }}
  <hr>
  <h2>personal</h2>
  <p>projects i've developed on my own or with close friends.</p>
  {{ where .Pages "Params.type" "personal" | partial "projects.html" }}
  <hr>
  <h2>experimental</h2>
  <p>personal deployments and setups.</p>
  {{ where .Pages "Params.type" "experimental" | partial "projects.html" }}
{{ end }}
