<div>
  <h2>contact</h2>
  <p>
    all <strong>bolded</strong> contact methods are verified via pgp, either by pgp itself or through notation proofs.
  </p>
  <ul id="contact-links">
    {{ range $.Site.Data.links }}
      <li id="{{ .name }}">
        {{ if isset . "pgp" }}<strong>{{ end }} {{ .name }}:{{ if isset . "pgp" }}</strong>{{ end }}
        {{ if isset . "url" }}<a href='{{ .url }}'>{{ end }}{{ .value }}{{ if isset . "url" }}</a>{{ end }}
      </li>
    {{ end }}
  </ul>
</div>
