<div id="projects">
  {{ range . }}
  <div>
    <div>
      <h3>{{ .Title }}</h3>
      <p>{{ .Content }}</p>
      <p>status: <code class="{{ .Params.status }}" title="{{ .Params.update }}">{{ .Params.status }}</code></p>
      <p>
        {{ $index := false }}
        {{ range $key, $value := printf "projects/%s" .Title | relURL | dict "devnotes" | merge .Params.links }}
          {{ if $index }} | {{ end }}
          <a class="link" href="{{ $value }}">{{ $key }}</a>
          {{ $index = true }}
        {{ end }}
      </p>
    </div>
    <img src='{{ .Title | lower | printf "img/projects/%s.png" | relURL }}'>
  </div>
  {{ end }}
</div>
