@import "~@fontsource/source-sans-pro/latin-300.css";
@import "~@fontsource/source-sans-pro/latin-400.css";
@import "~@fontsource/source-sans-pro/latin-600.css";

a:link {
    color: dodgerblue;
}

a:visited {
    color: darkviolet;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin-right: 0;
    margin-top: 12vh;
}

h1, h2 {
    font-weight: 300;
}

h3 {
    font-weight: 400;
    margin: .5em 0 .5em;
}

hr {
    border: 1px solid lightgray;
}

pre {
    background: transparent !important;
    margin-left: 1%;
}

strong {
    font-weight: 600;
}

.active {
    color: limegreen;
}

.hiatus {
    color: gold;
}

.inactive {
    color: red;
}

.maintenance {
    color: dodgerblue;
}

#codeberg::before {
    background: url("~@fortawesome/fontawesome-free/svgs/brands/git.svg") no-repeat;
}

#contact-icons > a::before {
    height: 1.25em;
    margin-left: .5em;
    margin-right: .5em;
    width: 1.25em
}

#contact-icons > a::before, #contact-links > li::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
}

#contact-links > li::before {
    height: 1em;
    width: 1em;
}

#content {
    display: flex;
    height: 76vh;
}

#discord::before {
    background: url("~@fortawesome/fontawesome-free/svgs/brands/discord.svg") no-repeat;
}

#divider {
    background-color: lightgray;
    flex-shrink: 0;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    width: 1px;
}

#email::before {
    background: url("~@fortawesome/fontawesome-free/svgs/solid/envelope.svg") no-repeat;
}

#empty {
    text-align: center;
}

#github::before {
    background: url("~@fortawesome/fontawesome-free/svgs/brands/github.svg") no-repeat;
}

#gitlab::before {
    background: url("~@fortawesome/fontawesome-free/svgs/brands/gitlab.svg") no-repeat;
}

#icon {
    border-radius: 50%;
    width: 65%;
}

#mastodon::before {
    background: url("~@fortawesome/fontawesome-free/svgs/brands/mastodon.svg") no-repeat;
}

#matrix::before {
    background: url("~@fortawesome/fontawesome-free/svgs/solid/comment-alt.svg") no-repeat;
}

#page {
    background: linear-gradient(white 30%, transparent) local no-repeat top left / 100% 8%,
        linear-gradient(transparent, white 70%) local no-repeat 0 100% / 100% 8%,
        radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .25), transparent) scroll no-repeat top center / 100% 4%,
        radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .25), transparent)
            scroll no-repeat bottom center / 100% 4%;
    flex-grow: 1;
    max-height: 100%;
    overflow-y: scroll;
    padding: 1%;
    scrollbar-color: gray lightgray;
}

#pgp::before {
    background: url("~@fortawesome/fontawesome-free/svgs/solid/key.svg") no-repeat;
}

#posts {
    column-gap: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#posts > div {
    border: 1px solid lightgray;
    border-radius: 1%;
    padding: 5%;
    transition: all .2s ease-in-out;
}

#posts > div:hover {
    box-shadow: 1vw 1vw 1vw rgba(0, 0, 0, .25);
    transform: translate3d(-1%, -1%, 0);
}

#profile {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 25%;
}

#profile > h2 {
    margin: .5em 0 .5em;
}

#profile > h2 > a {
    text-decoration: none;
}

#projects {
    column-gap: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1vh 0 2vh;
    row-gap: 2vh;
    text-align: center;
}

#projects code {
    border-bottom: 1px dotted whitesmoke;
}

#projects code:hover {
    cursor: help;
}

#projects > div {
    position: relative;
}

#projects > div > div {
    background-color: rgba(0, 0, 0, .75);
    color: whitesmoke;
    height: 82.5%;
    opacity: 0;
    /*
     * The formula is apparently "100% - (padding * 2)%" for width but "100% - (padding * 4 + padding / 2)%" for height.
     * CSS continues to be beyond my comprehension.
     * Yes, there's a note about not using percentages on elements without explicit sizes, but doing that didn't fix
     * this mess.
     */
    padding: 5%;
    position: absolute;
    transition: all .2s ease-in-out;
    width: 90%;
}

#projects > div > div:hover {
    opacity: 1;
}

#projects > div > div > p {
    margin: .5em 0 .5em;
}

#projects > div > img {
    border: 1px solid lightgray;
    width: 100%;
}

#username {
    margin-bottom: 0;
}
